<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzmzeoVFYwjynromVE8F2H10RprWcbRFo</string>
	<key>GCM_SENDER_ID</key>
	<string>344851562616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventPlanning</string>
	<key>PROJECT_ID</key>
	<string>event-planning-app-e4e1a</string>
	<key>STORAGE_BUCKET</key>
	<string>event-planning-app-e4e1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344851562616:ios:712429672ec1187db36d8d</string>
</dict>
</plist>